{% extends 'layout/base.html' %}

{% block titulo %}
    Listar Profesor
{% endblock titulo %}

{% block pagina %}
    Profesores
{% endblock pagina %}
    
{% block cuerpo %}
    <a href="{% url 'crear-profesor' %}" class="btn btn-primary mb-3">Crear Profesor</a>
    <div class="table-responsive">
        <table class="table table-striped-columns">
            <tr>
                <th>Id</th>
                <th>Cod. Profesor</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Opciones</th>
            </tr>
            {%  for profesor in profesores %}
            <tr>
                <td>{{profesor.id}}</td>
                <td>{{profesor.cod_profesor}}</td>
                <td>{{profesor}}</td>
                <td>{{ profesor.direccion }}</td>
                <td>{{ profesor.telefono }}</td>
                <td>
                    <a href="{% url 'actualizar-profesor' profesor.id %}" class="btn btn-warning">Editar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock cuerpo %}
