{% extends 'layout/base.html' %}

{% block titulo %}
    Listar Profesor
{% endblock titulo %}
{% block cuerpo %}
    <table>
        <tr>
            <th>Id</th>
            <th>Cod. Profesor</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
        </tr>
        {%  for profesor in profesores %}
        <tr>
            <td>{{profesor.id}}</td>
            <td>{{profesor.cod_profesor}}</td>
            <td>{{profesor}}</td>
            <td>{{ profesor.direccion }}</td>
            <td>{{ profesor.telefono }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock cuerpo %}
