{% extends 'layout/base.html' %}
{% load static %}

{% block titulo %}
    Home
{% endblock titulo %}

{% block pagina %}
    Home
{% endblock pagina %}


{% block cuerpo %}    
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolore neque suscipit et doloribus minus laborum quia consectetur asperiores, commodi incidunt illum aliquam. Soluta doloremque magnam iusto consequatur mollitia expedita.</p>
    <img src="{% static 'img/ilustracion-edificio-escuela_138676-2399.jpg' %}" class="img-fluid" alt="">
{% endblock cuerpo %}
    
    