{% extends 'layout/base.html' %}

{% block titulo %}
    Programa
{% endblock titulo %}

{% block pagina %}{{ accion }} Programa{% endblock pagina %}

{% block cuerpo %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3"> 
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %} 

        {% include 'layout/botones.html' %}
    </form>
{% endblock cuerpo %}  