{% extends 'layout/base.html' %}

{% block titulo %}
    Listar Programas
{% endblock titulo %}

{% block pagina %}
    Programas
{% endblock pagina %}
    
{% block cuerpo %}

    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        
    {% endif %}

    <a href="" class="btn btn-primary mb-3">Crear Programa</a>
    <div class="table-responsive">
        <table class="table table-striped-columns">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
            {%  for programa in programas %}
            <tr>
                <td>{{programa.id}}</td>
                <td>{{programa.nombre}}</td>
                <td>{{ programa.descripcion  }}</td>
                <td>
                    <a href="{% url 'actualizar-programa' programa.id %}" class="btn btn-warning">Editar</a>
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal{{programa.id}}" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
             <!-- Modal -->
                <div class="modal fade" id="exampleModal{{programa.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Advertencia!!!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿esta seguro de eliminar el programa {{programa.nombre}}?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a  href="{% url 'eliminar-programa' programa.id %}" class="btn btn-danger">eliminar</a>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </table>
    </div>

{% endblock cuerpo %}